scripts/seed-data/por-demo-ai-automation.json
{
  "name": "POR Demo AI Automation",
  "definitionJson": {
    "nodes": [
      {
        "name": "When clicking 'Test workflow'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [140, 360],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "position": [1220, 560],
        "parameters": {
          "model": "gpt-5",
          "options": {}
        },
        "typeVersion": 1.3
      },
      {
        "name": "Click an element in Airtop",
        "type": "n8n-nodes-base.airtopTool",
        "position": [1800, 760],
        "parameters": {
          "resource": "interaction",
          "windowId": "={{ $json.windowId }}",
          "sessionId": "={{ $json.sessionId }}",
          "additionalFields": {},
          "elementDescription": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Element_Description', ``, 'string') }}"
        },
        "typeVersion": 1.1
      },
      {
        "name": "Take screenshot in Airtop",
        "type": "n8n-nodes-base.airtopTool",
        "position": [1320, 760],
        "parameters": {
          "resource": "window",
          "windowId": "={{ $json.windowId }}",
          "operation": "takeScreenshot",
          "sessionId": "={{ $json.sessionId }}",
          "outputImageAsBinary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Output_Binary_Image', ``, 'boolean') }}"
        },
        "typeVersion": 1.1
      },
      {
        "name": "Create a window",
        "type": "n8n-nodes-base.airtop",
        "position": [680, 360],
        "parameters": {
          "url": "https://pordemo.com/item/add/UNSERIALIZED_ITEM",
          "resource": "window",
          "sessionId": "={{ $json.data.id }}",
          "additionalFields": {}
        },
        "typeVersion": 1.1
      },
      {
        "name": "Type text in Airtop",
        "type": "n8n-nodes-base.airtopTool",
        "position": [1640, 760],
        "parameters": {
          "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
          "resource": "interaction",
          "windowId": "={{ $json.windowId }}",
          "operation": "type",
          "sessionId": "={{ $json.sessionId }}",
          "pressEnterKey": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Press_Enter_Key', ``, 'boolean') }}",
          "additionalFields": {}
        },
        "typeVersion": 1.1
      },
      {
        "name": "Load a page in Airtop",
        "type": "n8n-nodes-base.airtopTool",
        "position": [1504, 752],
        "parameters": {
          "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
          "resource": "window",
          "windowId": "={{ $json.windowId }}",
          "operation": "load",
          "sessionId": "={{ $json.sessionId }}",
          "additionalFields": {}
        },
        "typeVersion": 1.1
      },
      {
        "name": "Scroll on page in Airtop",
        "type": "n8n-nodes-base.airtopTool",
        "position": [1980, 760],
        "parameters": {
          "resource": "interaction",
          "windowId": "={{ $json.windowId }}",
          "operation": "scroll",
          "sessionId": "={{ $json.sessionId }}",
          "scrollToElement": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Element_Description', ``, 'string') }}",
          "additionalFields": {}
        },
        "typeVersion": 1.1
      },
      {
        "name": "Create Airtop Session",
        "type": "n8n-nodes-base.httpRequest",
        "position": [340, 360],
        "parameters": {
          "url": "https://api.airtop.ai/api/v1/sessions",
          "method": "POST",
          "options": {},
          "jsonBody": "{\"configuration\": {\n      \"record\": true,\n      \"timeoutMinutes\": 11\n    }\n}",
          "sendBody": true,
          "specifyBody": "json",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "airtopApi"
        },
        "typeVersion": 4.4
      },
      {
        "name": "Fill Login Form",
        "type": "n8n-nodes-base.airtop",
        "position": [880, 360],
        "parameters": {
          "formData": "username: lowesdemo\npassword: Password1!",
          "resource": "interaction",
          "windowId": "={{ $json.windowId }}",
          "operation": "fill",
          "sessionId": "={{ $json.sessionId }}"
        },
        "typeVersion": 1.1
      },
      {
        "name": "Click Login",
        "type": "n8n-nodes-base.airtop",
        "position": [1100, 360],
        "parameters": {
          "resource": "interaction",
          "windowId": "={{ $json.windowId }}",
          "sessionId": "={{ $json.sessionId }}",
          "additionalFields": {},
          "elementDescription": "the Login button"
        },
        "typeVersion": 1.1
      },
      {
        "name": "AI Agent - Fill Item Details",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [1340, 360],
        "parameters": {
          "text": "Complete this browser automation task:\n\n1. Go to pordemo.com\n2. Login with username 'lowesdemo' and password 'Password1!'\n3. Navigate to https://pordemo.com/item/add/UNSERIALIZED_ITEM\n4. In the name field type: 'Test Item 123'\n5. In the category field type: 'General' in category and press Return\n6. Scroll to the Save button at the bottom of the page\n7. Click 'Save'\n\nUse the Airtop tool to perform these actions.",
          "options": {
            "maxIterations": 30,
            "systemMessage": "You are a browser automation expert. Use Airtop to automate web tasks. Create a session first, then a window with the URL, then perform interactions step by step."
          },
          "promptType": "define"
        },
        "typeVersion": 3.1
      },
      {
        "name": "Scroll to Bottom",
        "type": "n8n-nodes-base.airtop",
        "position": [1700, 360],
        "parameters": {
          "resource": "interaction",
          "operation": "scroll",
          "scrollToElement": "Save Button",
          "additionalFields": {}
        },
        "typeVersion": 1.1
      },
      {
        "name": "Save Item",
        "type": "n8n-nodes-base.airtop",
        "position": [1900, 360],
        "parameters": {
          "resource": "interaction",
          "additionalFields": {},
          "elementDescription": "the blue Save button at the bottom"
        },
        "typeVersion": 1.1
      },
      {
        "name": "Wait 10s",
        "type": "wait",
        "position": [500, 360],
        "parameters": {
          "amount": 10,
          "resume": "timeInterval"
        },
        "typeVersion": 1.1
      }
    ],
    "connections": {
      "Wait 10s": {
        "main": [
          [
            {
              "node": "Create a window",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Click Login": {
        "main": [
          [
            {
              "node": "AI Agent - Fill Item Details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a window": {
        "main": [
          [
            {
              "node": "Fill Login Form",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fill Login Form": {
        "main": [
          [
            {
              "node": "Click Login",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Scroll to Bottom": {
        "main": [
          [
            {
              "node": "Save Item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent - Fill Item Details",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Type text in Airtop": {
        "ai_tool": [
          [
            {
              "node": "AI Agent - Fill Item Details",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Create Airtop Session": {
        "main": [
          [
            {
              "node": "Wait 10s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load a page in Airtop": {
        "ai_tool": [
          [
            {
              "node": "AI Agent - Fill Item Details",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Scroll on page in Airtop": {
        "ai_tool": [
          [
            {
              "node": "AI Agent - Fill Item Details",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Take screenshot in Airtop": {
        "ai_tool": [
          [
            {
              "node": "AI Agent - Fill Item Details",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Click an element in Airtop": {
        "ai_tool": [
          [
            {
              "node": "AI Agent - Fill Item Details",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent - Fill Item Details": {
        "main": [
          [
            {
              "node": "Scroll to Bottom",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking 'Test workflow'": {
        "main": [
          [
            {
              "node": "Create Airtop Session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
