packages/json-translator/src/__tests__/fixtures/simple-linear-workflow.n8n.json
{
  "name": "Simple Linear Workflow",
  "nodes": [
    {
      "id": "node-1",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 200],
      "parameters": {}
    },
    {
      "id": "node-2",
      "name": "Set Values",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [350, 200],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "name": "greeting", "value": "Hello World", "type": "string" }
          ]
        }
      }
    },
    {
      "id": "node-3",
      "name": "Send Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/greet",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "message", "value": "={{ $json.greeting }}" }
          ]
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [{ "node": "Set Values", "type": "main", "index": 0 }]
      ]
    },
    "Set Values": {
      "main": [
        [{ "node": "Send Request", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
